@import "variables";
@import "global";

.page {
  @include flex-container($direction: row, $justify: center, $align: none);
  background-image: url("/images/image1.png");
  background-color: linear-gradient(180deg, $lightBlue 0%, $white 19.4%);
  background-repeat: no-repeat;
  background-position: top 333px left 38rem;
  background-size: 885px 468px;
  height: 100vh;
  &__size {
    max-width: 1120px;
    padding: 0px 10px;
  }
}

.header {
  @include size($height: 60px, $width: 1120px);
  @include flex-container(
    $direction: row,
    $justify: space-between,
    $align: center
  );
  margin: 47px 0px 130px 0px;
}

.logo {
  @include size($height: 35px, $width: 49px);
}

.menu {
  @include flex-container(
    $direction: row,
    $justify: space-evenly,
    $align: center
  );
  @include size($height: 30px, $width: 322px);
  margin: 0 418px 0 121px;
  padding: 2px 0 2px 0;
  line-height: 26px;

  &__item {
    text-decoration: none;
    color: $paragraph;
    font-weight: 500;
  }
  &__item:hover {
    font-weight: 800;
    color: $blue;
  }
}

.menu2 {
  display: none;
}

.button {
  @include flex-container($direction: row, $justify: center, $align: center);
  @include size($height: 60px, $width: 210px);
  @include font(
    $family: "Avenir",
    $weight: 800,
    $size: 16px,
    $spacing: 0.005em,
    $lheight: 160%
  );
  color: $blue;
  box-shadow: 0px 5px 5px $boxShadow;
  background: $white;
  border-radius: 50px;
  border: none;

  &__text {
    margin: 17px 20px 17px 29px;
  }
  &__icon {
    margin-right: 30px;
  }
}

.ham__icon {
  display: none;
}

.storage {
  @include size($height: 464px, $width: 645px);
  margin-left: 0px;
  @include flex-container($direction: column, $justify: space-evenly);
  margin-bottom: 202px;
}

.storage__heading {
  color: $blue;
  @include size($height: 184px, $width: 645px);
  @include font(
    $family: "Helvetica",
    $weight: 700,
    $size: 80px,
    $spacing: 0px,
    $lheight: 88px
  );
  margin-bottom: 50px;
}

.storage__paragraph {
  color: $paragraph;
  @include size($height: 120px, $width: 380px);
  @include font(
    $family: "Avenir",
    $weight: 500,
    $size: 18px,
    $spacing: 0px,
    $lheight: 29px
  );
  margin-bottom: 50px;
}

.storage__cta {
  background: $purple;
  border: none;
  border-radius: 50px;
  color: $white;
  @include size($height: 60px, $width: 170px);
  @include font(
    $family: "Avenir",
    $weight: 800,
    $size: 18px,
    $spacing: 0px,
    $lheight: 29px
  );
  text-align: center;
}

.bank {
  @include flex-container($direction: row, $justify: space-evenly);
  @include size($height: 560px, $width: 1117px);
  margin: 0px 0 150px 0;
  background: $lightPink;
  border-radius: 50px;

  &__text {
    @include size($height: 310px, $width: 475px);
    margin: 125px 62px 92px;
  }
}

.bank__heading {
  color: $blue;
  @include font(
    $family: "Helvetica",
    $weight: 700,
    $size: 40px,
    $spacing: 0px,
    $lheight: 52px
  );
  margin-bottom: 40px;
}
.bank_image {
  margin: 32px 0 24px 11px;
}
.bank__paragraph {
  color: $paragraph;
  @include font(
    $family: "Avenir",
    $weight: 500,
    $size: 18px,
    $spacing: 0px,
    $lheight: 29px
  );
}
.features {
  @include flex-container($direction: column, $justify: center, $align: center);
}
.features__text {
  @include size($height: 160px, $width: 584px);
  text-align: center;
  margin-bottom: 100px;
}

.features__heading {
  @include font(
    $family: "Helvetica",
    $weight: bold,
    $size: 40px,
    $spacing: 0px,
    $lheight: 52px
  );
  margin-bottom: 50px;
}

.features__paragraph {
  @include font(
    $family: "Helvetica",
    $weight: 500,
    $size: 18px,
    $spacing: 0px,
    $lheight: 29px
  );
  color: $paragraph;
}

.features__grid {
  @include size($height: 766px, $width: 1030px);
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 50px 148px;
  margin-bottom: 150px;
  margin-left: 120px;
}

.grid__item {
  @include size($height: 358px, $width: 442px);
  position: relative;
  background-color: purple;
}
.grid__item1 {
  @include size($height: 358px, $width: 442px);
  position: relative;
  background-image: url("/images/Rectangle_1.svg");
  background-repeat: no-repeat;
}
.item__image1 {
  position: absolute;
  right: 300px;
  top: 73px;
}

.image__ellipse1 {
  position: absolute;
  right: 117px;
  top: 44px;
}

.image__vector1 {
  position: absolute;
  right: 20px;
  top: 12px;
}

.grid__item2 {
  @include size($height: 358px, $width: 442px);
  position: relative;
  background-image: url("/images/Rectangle2.svg");
  background-repeat: no-repeat;
}
.item__image2 {
  position: absolute;
  right: 303px;
  top: 71px;
}

.image__vector2 {
  position: absolute;
  left: 196px;
  top: 190px;
}

.grid__item3 {
  @include size($height: 358px, $width: 442px);
  position: relative;
  background-image: url("/images/Rectangle3.svg");
  background-repeat: no-repeat;
}
.item__image3 {
  position: absolute;
  right: 305px;
  top: 123px;
}

.image__ellipse3 {
  position: absolute;
  right: 26px;
  top: 30px;
}

.grid__item4 {
  @include size($height: 358px, $width: 442px);
  position: relative;
  background-image: url("/images/Rectangle4.svg");
  background-repeat: no-repeat;
}
.item__image4 {
  position: absolute;
  right: 309px;
  top: 86px;
  z-index: 2;
}

.image__ellipse4 {
  position: absolute;
  right: 27px;
  top: 281px;
}

.image__vector4 {
  position: absolute;
  right: 95px;
  bottom: 105px;
}

.item__text {
  @include flex-container($direction: column, $justify: none, $align: left);
  margin: 49px 50px 33px 172px;
}

.item__heading {
  @include size($height: 50px, $width: 200px);
  @include font(
    $family: "Helvetica",
    $weight: normal,
    $size: 24px,
    $spacing: 0px,
    $lheight: 31px
  );
  color: $blue;
  z-index: 2;
  margin-bottom: 20px;
}

.item__paragraph {
  @include size($height: 160px, $width: 220px);
  @include font(
    $family: "Avenir",
    $weight: normal,
    $size: 16px,
    $spacing: 0px,
    $lheight: 26px
  );
  color: $paragraph;
  z-index: 2;
  margin-bottom: 20px;
}

.item__cta {
  @include flex-container(
    $direction: row,
    $justify: space-between,
    $align: center
  );
  @include size($height: 26px, $width: 127px);
}

.cta_text {
  @include font(
    $family: "Avenir",
    $weight: 900,
    $size: 16px,
    $spacing: 0px,
    $lheight: 26px
  );
  color: $blue;
  z-index: 2;
  margin-right: 20px;
}

.testimonial__slides {
  @include size($height: 709px, $width: 1118px);
  background: $slide;
  border-radius: 50px;
  padding: 109px 0px 58px 93px;
  position: relative;
  margin-bottom: 252px;
}

.slide__title {
  @include size($height: 52px, $width: 405px);
  @include font(
    $family: "Helvetica",
    $weight: bold,
    $size: 40px,
    $spacing: 0px,
    $lheight: 52px
  );
  color: $white;
}

.slide__boxes {
  @include flex-container($direction: row, $justify: none, $align: none);
  overflow: auto;
  scrollbar-width: none;
  position: relative;
}

.slide__boxes::-webkit-scrollbar {
  display: none;
}

.slide__box {
  @include flex-container($direction: column, $justify: none, $align: none);
  @include size($height: 330px, $width: 645px);
  background: $white;
  box-shadow: 0px 20px 0px rgba(95, 62, 142, 0.3);
  padding: 60px 70px 50px;
  margin: 88px 20px 58px 0;
  border-radius: 20px;
}
.slide__details {
  @include flex-container($direction: row, $justify: none, $align: center);
}

.slide__text {
  margin-left: 30px;
}

.text__name {
  @include size($height: 29px, $width: 170px);
  @include font(
    $family: "Avenir",
    $weight: 800,
    $size: 18px,
    $spacing: 0.005em,
    $lheight: 29px
  );
  color: $blue;
}

.text__occupation {
  @include font(
    $family: "Avenir",
    $weight: 500,
    $size: 14px,
    $spacing: 0.01em,
    $lheight: 22px
  );
  color: $purple;
}

.text__dummy {
  margin-left: 120px;
  @include size($height: 130px, $width: 385px);
  @include font(
    $family: "Avenir",
    $weight: normal,
    $size: 18px,
    $spacing: 0em,
    $lheight: 32px
  );
  color: $paragraph;
}
.slide__ellipse {
  @include flex-container(
    $direction: row,
    $justify: space-between,
    $align: center
  );
  @include size($height: 10px, $width: 55px);
}

.change__ellipse {
  @include size($height: 5px, $width: 5px);
  background: $white;
  border-radius: 50px;
}

.change__ellipse.active {
  @include size($height: 10px, $width: 10px);
  background: $pink;
}

.slide__change {
  @include flex-container(
    $direction: row,
    $justify: space-between,
    $align: center
  );
  margin-right: 76px;
}

.slide__arrow {
  @include flex-container(
    $direction: row,
    $justify: space-between,
    $align: center
  );
  width: 100px;
}

.slide__arrow:hover {
  cursor: pointer;
}

.arrow__right {
  transform: rotate(180deg);
}
.arrow__right.active {
  display: none;
}
.arrow__fade {
  display: none;
}
.arrow__fade.active {
  display: flex;
}

.faded__portion {
  background: linear-gradient(to right, transparent, $purple 99%);
  @include size($height: 333px, $width: 254px);
  position: absolute;
  bottom: 128px;
  right: 0;
}

.horizon__line {
  position: absolute;
  @include size($height: 2px, $width: 1600px);
  background: $purple;
  opacity: 0.2;
  bottom: -150px;
  left: -250px;
}

.free {
  @include flex-container(
    $direction: row,
    $justify: space-between,
    $align: center
  );
  @include size($height: 101px, $width: 1120px);
}

.free__btns {
  @include flex-container(
    $direction: row,
    $justify: space-between,
    $align: center
  );
}

.first__btn {
  background: $pink;
  border: none;
  border-radius: 50px;
  color: $white;
  @include size($height: 60px, $width: 170px);
  @include font(
    $family: "Avenir",
    $weight: 900,
    $size: 18px,
    $spacing: 0px,
    $lheight: 29px
  );
  text-align: center;
  margin-right: 20px;
}

.button__two {
  @include flex-container($direction: row, $justify: center, $align: center);
  @include size($height: 60px, $width: 210px);
  @include font(
    $family: "Avenir",
    $weight: 800,
    $size: 16px,
    $spacing: 0.005em,
    $lheight: 160%
  );
  color: $blue;
  box-shadow: 0px 5px 5px $boxShadow;
  background: $white;
  border-radius: 50px;
  border: none;

  &__text {
    margin: 17px 20px 17px 29px;
  }
  &__icon {
    margin-right: 30px;
  }
}

.text__heading {
  @include font(
    $family: "Helvetica",
    $weight: bold,
    $size: 40px,
    $spacing: 0px,
    $lheight: 52px
  );
  color: $blue;
  margin-bottom: 20px;
}

.text__paragraph {
  @include font(
    $family: "Avenir",
    $weight: 500,
    $size: 18px,
    $spacing: 0px,
    $lheight: 29px
  );
  color: $paragraph;
}

.footer {
  @include flex-container(
    $direction: row,
    $justify: space-between,
    $align: none
  );
  @include size($height: 311px, $width: 1085px);
  margin-top: 99px;
  margin-bottom: 89px;
  padding-top: 51px;
}

.menu__class {
  @include flex-container($direction: column, $justify: left, $align: none);
}

.company__brand {
  @include flex-container($direction: row, $justify: left, $align: center);
}

.brand__name {
  margin-left: 20px;
  @include font(
    $family: "Avenir",
    $weight: bold,
    $size: 20px,
    $spacing: 0px,
    $lheight: 32px
  );
  color: $blue;
}

.company__address {
  @include size($height: 65px, $width: 335px);
  margin-top: 60px;
  @include font(
    $family: "Avenir",
    $weight: 600,
    $size: 15px,
    $spacing: 0.01em,
    $lheight: 29px
  );
  color: $blue;
  margin-bottom: 10px;
}

.company__contact {
  @include size($height: 60px, $width: 335px);
  @include font(
    $family: "Avenir",
    $weight: normal,
    $size: 16px,
    $spacing: 0.01em,
    $lheight: 29px
  );
  color: $blue;
}

.menu__title {
  margin-bottom: 30px;
  @include font(
    $family: "Avenir",
    $weight: 900,
    $size: 16px,
    $spacing: 0,
    $lheight: 26px
  );
  color: $blue;
}

.about__list {
  @include flex-container(
    $direction: column,
    $justify: space-between,
    $align: left
  );
  @include size($height: 160px, $width: 166px);
  @include font(
    $family: "Avenir",
    $weight: normal,
    $size: 16px,
    $spacing: 0,
    $lheight: 40px
  );
  color: $blue;
}

.help__list {
  @include flex-container(
    $direction: column,
    $justify: space-between,
    $align: left
  );
  @include size($height: 190px, $width: 166px);
  @include font(
    $family: "Avenir",
    $weight: normal,
    $size: 16px,
    $spacing: 0,
    $lheight: 40px
  );
  color: $blue;
}

.media__class {
  @include flex-container(
    $direction: row,
    $justify: space-between,
    $align: none
  );
  @include size($height: 50px, $width: 178px);
}

.media__list {
  display: grid;
  place-items: center;
  @include size($height: 50px, $width: 50px);
  border-radius: 50px;
  background: $blue;
  opacity: 0.1;
}

.facebook__icon {
  @include size($height: 35px, $width: 20px);
}

.twitter__icon {
  @include size($height: 20px, $width: 23px);
}

.instagram__icon {
  @include size($height: 18px, $width: 18px);
}

@media screen and (min-width: 769px) and (max-width: 1119px) {
  .page {
    background-position: top 333px left 23rem;
  }
  .page__size {
    max-width: 100%;
  }

  .features__text {
    @include flex-container(
      $direction: column,
      $justify: center,
      $align: center
    );
  }

  .features__grid {
    width: 100%;
    margin-left: 20em;
  }

  .menu {
    margin: 0 300px 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    background-position: top 500px left 16rem;
    background-size: 64%;
  }

  .page__size {
    max-width: 100%;
  }

  .header {
    @include size($height: 60px, $width: 100%);
  }

  .page__top {
    @include flex-container($direction: column, $justify: none, $align: none);
    width: 100%;
  }

  .header {
    margin: 47px 0px 10px 0px;
  }

  .header.active {
    margin-bottom: 130px;
  }

  .menu {
    display: none;
  }
  .menu2 {
    display: none;
    text-align: left;
    width: 100%;
    height: 100px;
    border-top: 1px solid $blue;
    padding-top: 10px;
    margin-bottom: 110px;
  }

  .menu2.active {
    @include flex-container(
      $direction: column,
      $justify: space-between,
      $align: left
    );
  }

  .ham__icon {
    display: flex;
    justify-content: flex-end;
    @include size($height: 50px, $width: 80px);
  }

  .menu__control {
    @include size($height: 60px, $width: 320px);
    @include flex-container($direction: row, $justify: center, $align: center);
  }

  .button {
    display: none;
  }

  .storage {
    @include flex-container($direction: column, $justify: left, $align: left);
    width: 100%;
  }

  .storage__cta {
    margin-right: 30px;
  }

  .bank {
    @include flex-container(
      $direction: column,
      $justify: center,
      $align: center
    );
    text-align: center;
    @include size($height: 1117px, $width: 100%);

    &__text {
      margin: 125px 62px 92px;
    }
  }

  .features {
    width: 100%;
  }

  .features__text {
    @include flex-container(
      $direction: column,
      $justify: center,
      $align: center
    );
  }

  .features__grid {
    @include size($height: 150vh, $width: 100%);
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
  }

  .testimonial__slides {
    width: 100%;
  }

  .slide__box {
    width: 90%;
  }

  .text__dummy {
    height: 150px;
    margin-left: 120px;
    margin-left: 100px;
  }

  .free {
    width: 100%;
    @include flex-container(
      $direction: column,
      $justify: center,
      $align: center
    );
    text-align: center;
  }

  .free__btns {
    margin-top: 50px;
  }

  .footer {
    width: 100%;
    @include flex-container(
      $direction: row,
      $justify: space-evenly,
      $align: none
    );
  }

  .about__list {
    @include size($height: 190px, $width: 150px);
  }

  .help__list {
    @include size($height: 190px, $width: 150px);
  }

  .media__class {
    @include size($height: 178px, $width: 92px);
    @include flex-container(
      $direction: column,
      $justify: space-between,
      $align: center
    );
  }
}

@media screen and (max-width: 480px) {
  .page {
    background-position: top 420px left 6em;
  }
  .page__top {
    height: 100px;
  }
  .page__size {
    width: 100%;
  }
  .storage {
    @include size($height: 350px, $width: 100%);
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .storage__heading {
    @include size($height: 92px, $width: 100%);
    font-size: 50px;
    line-height: 44px;
    margin-bottom: 25px;
  }
  .storage__paragraph {
    @include size($height: 120px, $width: 280px);
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 0px;
  }
  .storage__cta {
    @include size($height: 40px, $width: 170px);
    font-size: 14px;
    line-height: 15px;
    margin: 0;
  }
  .bank {
    @include size($height: 720px, $width: 100%);
    margin-bottom: 80px;
  }
  .bank__text {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  .bank__image {
    @include size($height: 95%, $width: 95%);
  }
  .bank__heading {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  .bank__paragraph {
    @include size($height: 140px, $width: 100%);
    font-size: 13px;
    text-align: center;
    line-height: 25px;
  }
  .features__text {
    @include size($height: 160px, $width: 100%);
    margin-bottom: 150px;
  }
  .features__heading {
    font-size: 30px;
  }
  .features__paragraph {
    font-size: 13px;
  }
  .features__grid {
    @include size($height: 250vh, $width: 100%);
    margin-left: 0;
    grid-gap: 140px 0;
  }
  .grid__item1 {
    @include size($height: 358px, $width: 100%);
    background-size: 90%;
    background-position: center;
  }
  .grid__item2 {
    @include size($height: 358px, $width: 100%);
    background-size: 90%;
    background-position: center;
  }
  .grid__item3 {
    @include size($height: 358px, $width: 100%);
    background-size: 90%;
    background-position: center;
  }
  .grid__item4 {
    @include size($height: 358px, $width: 100%);
    background-size: 90%;
    background-position: center;
  }
  .item__image1 {
    position: absolute;
    right: 100px;
    top: -90px;
    z-index: 2;
  }
  .item__image2 {
    position: absolute;
    right: 100px;
    top: -100px;
    z-index: 2;
  }
  .item__image3 {
    position: absolute;
    right: 100px;
    top: -100px;
    z-index: 2;
  }
  .item__image4 {
    position: absolute;
    right: 100px;
    top: -100px;
    z-index: 2;
  }
  .item__text {
    @include flex-container($direction: column, $justify: left, $align: left);
  }
  .item__heading {
    height: 40px;
    margin: 30px 0 10px;
  }
  .item__paragraph {
    margin-bottom: 10px;
  }
  .testimonial__slides {
    padding-left: 30px;
  }
  .text__dummy {
    margin-left: 10px;
    font-size: 13px;
    @include size($height: 140px, $width: 18em);
  }
  .footer {
    @include size($height: 311px, $width: 100%);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 50px 200px;
    place-items: center;
  }

  .menu__class {
    @include size($height: 250px, $width: 100px);
  }
}
